.div-level-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}
.div-level-title h1 {
  font-size: 34px;
}
.div-level-title h3 {
  font-size: 20px;
}

.knots-time-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.image-wrapper {
width: 50%;
height: 450px;
  overflow: hidden;
}
.knot-img {
 width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.time-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.knot-button {
 background: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 7px 20px;
  border-radius: 10px;
  font-size: 20px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  cursor: pointer;
  transition: all 0.7s;
  font-size: 20px;
  width: 60%;
  margin: 10px;
}

.knot-button:hover {
   background: rgba(255,255,255,0.2);
}

.knot-result {
  font-size: 20px;
}
.knot-text {
  font-size: 20px;
}