.level-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 34px;
}

.level-description {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px;
  font-size: 20px;
}

.level-button-box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.level-button {
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-content: center;
    background: #43b35b;
    font-size: 20px;
}

.level-button:hover {
    background: #22d348; 
}

