.level-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 34px;
}

.level-description {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px;
  font-size: 20px;
}

.level-button-box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.level-button {
 background: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 7px 20px;
  border-radius: 10px;
  font-size: 20px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  cursor: pointer;
  transition: all 0.7s;
}

.level-button:hover {
  background: rgba(255,255,255,0.2);
}

.aa {
  color: #86a1b1;
}

@media (max-width: 900px) {
  .level-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  margin-top: 20px;
}

.level-description {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 16px;
}

.level-button-box {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.level-button {
 background: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 7px 15px;
  border-radius: 10px;
  font-size: 16px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  cursor: pointer;
  transition: all 0.7s;
}

.level-button:hover {
  background: rgba(255,255,255,0.2);
}
}