.level-title {
  text-align: center;
  margin-bottom: 20px;
}

.level-description {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.level-button-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.level-button {
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-content: center;
    background: #43b35b;
}

.level-button:hover {
    background: #22d348; 
}

