.page-wrapper {
max-width: 1200px;
margin: 0 auto;
padding: 20px;
height: 100vh;
overflow: hidden;
  
}

.no-overflow {
      overflow: visible;
  height: auto; 
}

@media (max-width: 900px) {
  .page-wrapper{
    overflow: auto;
    padding: 10px;
  }
}