.page-wrapper {
max-width: 1200px;
margin: 0 auto;
padding: 20px;
height: 100vh;
overflow: hidden;
padding-bottom: 40px;
}

.no-overflow {
      overflow: visible;
  height: auto; 
}
/* .page-wrapper-BG-guide {
    background: linear-gradient(to bottom, #f0f4f8, #d9e2ec);
} */

@media (max-width: 900px) {
  .page-wrapper{
    overflow: auto;
    padding-top: 20px;
  }
}