.guide-title {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 32px;
}

.knots-guide {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-evenly;
}

.img-text-box {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.knot-card h2 {
  font-size: 20px;
}

.knot-description {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
}

.knot-card {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: transparent;
  width: 30%;
  text-align: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: transparent;
  padding: 20px;
  border-radius: 8px;
  max-width: 800px;
  width: 90%;
  position: relative;
  border: 1px solid #fff;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 18px;
  color: #fff;
}

.modal-body {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}

.modal-body img {
  width: 30%;
  height: auto;
  border-radius: 6px;
}

.modal-body div {
  flex: 1;
  font-size: 14px;
  line-height: 1.5;
  width: 70%;
}
.modal-body-ul {
  list-style: disc;
  padding-left: 20px;
}


@media (max-width: 900px) {
  .knot-card {
    width: 100%;
    padding: 5px;
  }

  .modal-body {
    flex-direction: column;
  }
  .modal-content {
    padding: 10px;
  }
  .modal-body img  {
    width: auto;
    max-height: 250px;
  }
  .modal-body div  {
    width: 100%;
  }
  .knots-guide {
    gap: 10px;
  }
}