/* ---------------------------
   1) Подключение шрифта Roboto
--------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* ---------------------------
   2) Reset + Normalize
--------------------------- */

/* Убираем отступы, ставим box-sizing */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Улучшаем текст по умолчанию */
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

@media (max-width: 900px) {
  html {
    overflow: auto;
  }
  body {
    overflow: auto;
  }
}


/* Глобальный шрифт */
body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background: url("/public/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 10% 15%;
  color: #fff;
}

body::before {
  content: "";
  position: fixed;   /* чтобы покрывало весь экран */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* черный с 40% прозрачности */
  z-index: -1;       /* чтобы слой был под основным контентом */
}

/* Bilder по умолчанию */
img {
  max-width: 100%;
  display: block;
}

/* Кнопки—нулевые стили */
button {
  cursor: pointer;
  border: none;
  background: none;
  font: inherit;
}

/* Убираем подчеркивание ссылок */
a {
  color: inherit;
  text-decoration: none;
}

/* Списки без маркеров */
ul,
ol {
  list-style: none;
}

/* Выравнивание таблиц */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Формы */
input,
button,
textarea,
select {
  font: inherit;
}

/* Убираем outline только при мыши, оставляем для клавиатуры */
:focus:not(:focus-visible) {
  outline: none;
}
@keyframes spin {
  to { transform: rotate(360deg); }
}


.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 7px 20px;
  border-radius: 10px;
  font-size: 16px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  cursor: pointer;
  transition: all 0.7s;
}

.back-button:hover {
  background: rgba(255,255,255,0.2);
}

@media (max-width: 900px) {
.back-button {
  display: none;
}
}